.Home{
    .collection{
        margin-top: 80px;

        .info{
            text-align: center;
            margin-bottom: 10px;
            .sub_heading{
                margin-top: 10px;
            }
        }

        .content{
            display: flex;
            justify-content:center;
            align-items:center;
            flex-wrap: wrap;
            row-gap: 40px;
            margin-top: 20px;
        }
    }
}